@import '../styles/index.scss';
$vertical-margin: 0px;

.app {
  max-width: 960px;
  height: calc(100vh - 2 * #{$vertical-margin});
  margin: $vertical-margin auto;
  padding: 1rem;
  box-sizing: border-box;
  background: $gray-color;
  .body {
    height: calc(
      100% - #{$top-bar-height} - #{$margin-md}
    );
    box-sizing: border-box;
  }
}

@include sm {
  .app {
    height: auto;
    .body {
      height: auto;
    }
  }
}
