@import '../styles/index.scss';

.chartSection {
  // flex: 1;
  float: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.chart {
  width: 100%;
  height: 45%;
}

@include md {
  .chartSection {
    width: 40%;
    background: pink;
  }
}

@include sm {
  .chartSection {
    float: none;
    width: 100%;
    height: 30vh;
    flex-direction: row;
    justify-content: space-around;
  }
  .chart {
    width: 45%;
    height: 100%;
  }
}