@import '../styles/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-md;
  filter: opacity(50%);
  img {
    width: 48px;
    height: 48px;
  }
}