@import '../styles/index.scss';

.card {
  background: $gray-color;
  font-size: 0.8rem;
  margin: .75rem;
  padding: $padding-sm;
}

.main {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightMargin {
    margin-right: 0.5rem;
  }
  .bold {
    font-weight: 500;
  }
  .light {
    font-weight: 300;
  }
  .name {
    font-size: 0.9rem;
  }
}

.footer {
  display: flex; 
  align-items: center; 
}
