.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  .bar {
    display: flex;
    background: lightblue;
    justify-content: space-between;
  }
  
  .list {
    overflow: auto;
  }
}
