@import '../styles/index.scss';

.container {
  background: $semi-transparent-bg;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.displayed {
    display: flex;
    align-items: center;
  }
}
.main {
  position: relative;
  max-width: 600px;
  height: 100%;
  max-height: 200px;
  margin: 0 auto;
  padding: 40px;
  background: white;
  .exit {
    position: absolute;
    top:0;
    right: 0;
    width: 40px;
    height: 40px;
    background: red;
  }
}
