@import '../styles/index.scss';

.container {
  background: $semi-transparent-bg;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  &.displayed {
    display: flex;
    align-items: center;
  }
}
.main {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 1rem;
  background: white;
  .exit {
    position: absolute;
    top: 4px;
    right: 4px;
    width: $options-close-button-size;
    height: $options-close-button-size;
    background: url('../assets/icons/close.svg') no-repeat center / contain;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border-color: inherit;
      transition: border-color .5s ease;
    }
  }
}
