@import '../styles/index.scss';

.titleBar {
  height: $top-bar-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $margin-md;
  padding: .5rem;
  box-sizing: border-box;
  background:#fff;
}