

@mixin button() {
  position: relative;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  border: none;
  background: none;
  color: inherit;
  font-size: .9em;
  cursor: pointer;
  outline: none;
  user-select: none;
  &::before{
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 0%;
    border-bottom: 2px solid;
    // height: ;
  }
  &:hover, &:focus {
    filter: none;
    &::before {
      width: 100%;
      transition: width .5s ease;
    }
    // border-bottom: 1px solid;
  }
}
