$first-color: #83AF9B;
$first-color-light: #C8C8A9;
$second-color: #FE4365;
$second-color-light: #FC9D9A;
$mix-color-light: #F9CDAD;

$semi-transparent-bg: rgba(0,0,0,.5);

$top-bar-height: 40px;
$options-close-button-size: 36px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;

// Small Devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}
