// $first-color: #83AF9B; // doesn't pass WCAG contrast tests
$first-color: #3C5D50;
$first-color-light: #C8C8A9;
$second-color: #FE4365;
$second-color-light: #FC9D9A;
$mix-color-light: #F9CDAD;
$gray-color: #ededf0;

$semi-transparent-bg: rgba(0,0,0,.5);

$top-bar-height: 48px;
$title-bar-height: 36px;
$options-close-button-size: 36px;

$padding-md: 1rem;
$padding-sm: .5rem;
$margin-md: 1rem;
$margin-sm: .5rem;

//inclination for gradient and button hover effect
$inclination-value: 30deg; // or try 34deg or 56deg

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;
// Small tablets (portrait view)
$screen-md-max: 768px;

// Small Devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
      @content;
  }
}
